<h1>Editing Blog</h1>

<%= render 'form', blog: @blog %>

<%= link_to 'Show', @blog %> |
<%= link_to 'Back', blogs_path %>
  <%= link_to "Destroy", blog_path(@blog.id), method: :delete, class: 'btn btn-outline-danger' %>
