<h2 class="text-center ">Talent Stack</h2>
  <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Talent</th>
      <th scope="col"></th>
      <th scope="col">Proficiency</th>
      <th scope="col"></th>
      <th scope="col">Experience</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Full-Stack Development</td>
      <td></td>
      <td>Intermediate High</td>
      <td></td>
      <td>Bootstrap|Devise|Heroku|Git|Ruby on Rails</td>
    </tr>
    <tr>
      <td scope="row">Sales</td>
      <td></td>
      <td>Intermediate Mid</td>
      <td></td>
      <td>B2B|D2D|Phone|Car</td>

    </tr>
    <tr>
      <td scope="row">Management</td>
      <td></td>
      <td>Advanced</td>
      <td></td>
      <td>Hospitality|Sales Team|HR</td>
    </tr>
    <tr>
      <td scope="row">Service Industry</td>
      <td></td>
      <td>Superior</td>
      <td></td>
      <td>Bartend|Serve|Manage</td>
    </tr>
    <tr>
      <td scope="row">UX / UI Development</td>
      <td></td>
      <td>Advanced</td>
      <td></td>
      <td>HTML|CSS|Javascript|Wix</td>
    </tr>
  </tbody>
</table>
